<%- include('../mutualViews/header.ejs',
{
    title:"Admin"
})
%>

<% 
const [success_message]=res.flash("success_message")
const [error_message]=res.flash("error_message")
%>

<main>
    <h1>Admin</h1>
    <div>
        <% links.forEach(element => { %>
            <button><%- element  %></button>
        <% }) %>
    </div>
    <section>
        <%= success_message||"" %>
        <%= error_message||"" %>
    </section>
    <% articles.forEach((article) => { %>
        <% 
            const articleName=article.articles_name

            const articleSlug=article.articles_slug

            const articleId=article.id

        %>
     <div>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="/show/<%= articleSlug %>/<%= articleId %>"><%= articleName %></a></td>
                    <td>
                        <a href="/admin/update/<%= articleSlug %>/<%= articleId %>?pos=<%= paginationParams %>">Update</a>
                    </td>
                    <td>
                        <form action="/admin/delete/<%= articleSlug %>/<%= articleId %>?pos=<%= paginationParams %>" method="POST">
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
     </div>
    <% }) %>
</main>

<%- include('../mutualViews/footer.ejs') %>    