<%- include('../mutualViews/header.ejs',
{
    title:"Admin"
})
%>

<% 
const [success_message]=res.flash("success_message")
const [error_message]=res.flash("error_message")

%>

<main>
    <h1>Admin</h1>
    <div>
        <a href="/admin/create">Creer un article</a>
    </div>
    <div>
        <% links.forEach(element => { %>
            <button><%- element  %></button>
        <% }) %>
    </div>
    <section>
        <%= success_message||"" %>
        <%= error_message||"" %>
    </section>
    <% articles.forEach((article) => { %>
        <% 

            const {id,articles_name,articles_slug}=article

        %>
     <div>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>categorie</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="/show/<%= articles_slug %>/<%= id %>"><%= articles_name %></a></td>
                    <td>
                        <%- include("../home/categorieList",{categories,articles_name}) %>
                    </td>
                    <td>
                        <a href="/admin/update/<%= articles_slug %>/<%= id %>?pos=<%= paginationParams %>">Update</a>

                        <form action="/admin/delete/<%= articles_slug %>/<%= id %>?pos=<%= paginationParams %>" method="POST">
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
     </div>
    <% }) %>
</main>

<%- include('../mutualViews/footer.ejs') %>    