<%- include('../mutualViews/header.ejs',
{
    title:"Home"
})
%>

<main>
    <h1>Home</h1>
    <div>
        <% links.forEach(element => { %>
            <button><%- element  %></button>
        <% }) %>
    </div>
    <% articles.forEach((article) => { %>
        <% 
        const {id,article_created_at,articles_slug,articles_content,articles_name}=article

            const formatDate=(new Date(article_created_at)).toLocaleDateString()

            const subStrArticle=articles_content.substr(0,200)+"..."
        %>
     <div>
        <h2>
            <%= articles_name %>
            <%- include("./categorieList",{categories,articles_name}) %>
            <span><%= formatDate %></span>
        </h2>
        <p>
            <%= subStrArticle  %>
            <a href="/show/<%= article.articles_slug %>/<%= article.id %>">lire la suite</a>
        </p>
     </div>
    <% }) %>
</main>

<%- include('../mutualViews/footer.ejs') %>    