<%- include('../mutualViews/header.ejs',
{
    title:article.articles_name,
    request:req
})
%>

<%
    const date=article.article_created_at
    const formatDate=(new Date(date)).toLocaleDateString()
%>
     <div>
        <h2>
            <% 
                const articles_name=article.articles_name
            %>
            <%= articles_name %>
            <%- include("./categorieList",{categories,articles_name}) %>
            <span><%= formatDate %></span>

        </h2>
        <p>
            <%= article.articles_content  %>
        </p>
     </div>
<%- include('../mutualViews/footer.ejs') %>