<%- include('../mutualViews/header.ejs',
{
    title:"Login"
})
%>

<% 

const [message]=res.flash("error")
console.log(message);

%>

<main>
    <h1>Login</h1>
    <div>
        <%= message||"" %>
    </div>
    <form action="" method="POST" >
        <div>
            <label for="name">Entrer votre nom</label>
            <input type="text" name="user_name" value="<%= body?.user_name||'' %>" id="name" placeholder="John">
            <p><%= validationError?.user_name||'' %></p>
        </div>
        <div>
            <label for="email">Entrer votre Email</label>
            <input type="email" name="user_email" value="<%= body?.user_email||'' %>" id="email" placeholder="user@gmail.com">
            <p><%= validationError?.user_email||'' %></p>
        </div>
        <button type="submit">Je valide</button>
    </form>
</main>

<%- include('../mutualViews/footer.ejs') %>    